@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Poppins', sans-serif;
  background-color: #fef3c7;
}

.bgCapaLogin{
    background-image: url('../../public/CapaLottSeninha.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.react-tel-input .form-control{
    width: 100% !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}